@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome Gamers!</h1>
    <p>Learn about the top games coming in hot in 2026!</p>
</div>
