<footer class="main-footer">
    
    <div class="float-right d-none d-sm-inline">
        <a href="PCORREA9159@INTERBAYAMON.EDU">Pedrito's Store</a>
    </div>
    <strong>Copyright &copy; 2006-2019 Pedrito's Store</strong> All rights reserved.
</footer>