@using static Tienda.Helpers.NavigationIndicatorHelper;

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/img/Xbox logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Game Shop</span>
    </a>

    
    <div class="sidebar">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/img/Rockstar.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Hi, @User.Identity.Name</a>
                </div>
            </div>
        }
        else
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a href="#" class="d-block">Hello there Gamer </a>
                </div>
            </div>
        }
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
                <li class="nav-item has-treeview menu-open">
                    
                    <a asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("home","index")">
                        <i class="nav-icon fas fa-user-circle"></i>
                        <p>
                            Home
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    
                    <a asp-controller="Category" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-desktop"></i>
                        <p>
                            Controllers and devices
                        </p>
                    </a>
                    
                    <a asp-controller="Frequency" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-power-off"></i>
                        <p>
                            Consoles
                        </p>
                    </a>
                    
                    <a asp-controller="Service" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-gamepad"></i>
                        <p>
                            Type of games
                        </p>
                    </a>
                    
                    <a asp-controller="WebImage" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-image"></i>
                        <p>
                           Consoles previews
                        </p>
                    </a>
                    
                    <a asp-controller="Order" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-id-card"></i>
                        <p>
                            Online orders
                        </p>
                    </a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item ">
                        <a asp-controller="Home" asp-action="Privacy" class="nav-link @Url.MakeActiveClass("home","privacy")">
                            <i class="nav-icon fas fa-lock"></i>
                            <p>
                                Privacy
                            </p>
                        </a>
                    </li>
                }
            </ul>
        </nav>
        
    </div>
    
</aside>
